body {
  padding: 0px;
  margin: 0px;
  font-family: 'Noto Sans Mono', monospace;
}
a {
  text-decoration: none;
}
form {
  margin-block-end: 0px;
}
.header{
  height: 100vh;
}
.header--page{
  height: 250px;
}
.header img, .header--page img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.notion-hq-input, .notion-hq-output {
  background-color: var(--bs-tertiary-bg);
  padding: 20px;
  overflow: auto;
}
.notion-hq-output--formatted{
  background-color: #1f1f1f;
  display: block;
  padding: 20px;
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* css-3 */
}
#notion-databases-input--input {
  height: 400px;
}